/* START GENERAL CSS */
:root {
	--primary-dark-1: #03045e;
	--primary-dark-2: #023e8a;
	--primary-dark-3: #0077b6;
	--primary-dark-4: #0096c7;
	--primary-dark-5: #00b4d8;
	--primary-light-1: #48cae4;
	--primary-light-2: #90e0ef;
	--primary-light-3: #ade8f4;
	--primary-light-4: #caf0f8;
	--text-color: rgb(32, 32, 32);
}
html {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	font-size: 10px;
	font-weight: 300;
	color: var(--text-color);
}
*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}
.clearfix {
	content: "";
	clear: both;
	display: block;
}
.container {
	max-width: 1366px;
	margin: auto;
}
/* END GENERAL CSS */
/* Start Header Section*/
.logobar-div {
	width: 25%;
	height: 7rem;
	position: relative;
	float: left;
}
.logoimg {
	width: 18rem;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.logobar-text {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.logobar-icon {
	height: 2.8rem;
}
.icon-text {
	margin-left: 1rem;
	font-size: 1.8rem;
	color: var(--primary-dark-1);
	letter-spacing: 1px;
}
.btn-quote:link,
.btn-quote:visited,
.btn-hero:link,
.btn-hero:visited {
	display: inline-block;
	font-size: 2rem;
	padding: 1rem 1.4rem;
	background-color: var(--primary-dark-1);
	color: var(--primary-light-3);
	text-decoration: none;
	border-radius: 4px;
	animation-name: btn;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}
.btn-quote:hover,
.btn-hero:hover {
	background-color: var(--primary-light-1);
	color: var(--primary-dark-1);
}
@keyframes btn {
	0% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
/* Start Nav Bar Section */
nav {
	background-color: var(--primary-dark-1);
	padding: 1rem 0rem;
}
.menu {
	list-style: none;
}
.menu li {
	float: left;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.menu li:hover {
	transform: scaleX(0.8);
	color: var(--primary-light-3);
	border-bottom-color: #fc2947;
}
.menu li:not(:first-child) {
	margin-left: 3rem;
}
.menu-links:link,
.menu-links:visited {
	color: var(--primary-light-3);
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.navbar-icons {
	float: right;
}
.navbar-icons a {
	text-decoration: none;
}
.nav-social-icon {
	color: var(--primary-light-3);
	font-size: 3rem;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.navbar-icons a:not(:first-child) {
	margin-left: 3rem;
}
.nav-social-icon:hover,
.nav-social-icon:active {
	border-bottom: 1px solid #fc2947;
	transform: scale(1.5);

}
/* End Nav Bar Section */
/* End Header Section*/
/* Start Hero Image Section */
.hero {
	background-image: url(../images/05-hero1.jpg);
	width: 100%;
	height: 800px;
	background-position: center;
	background-size: cover;
	position: relative;
}
.hero-div {
	background-color: rgba(72, 202, 228, 0.801);
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	padding: 2rem;
}
.hero-heading {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--primary-dark-1);
	margin-bottom: 2rem;
	letter-spacing: 8px;
}
/* End Hero Image Section */
/* START MAIN */
/* Start Section-cards */
.section-cards {
	background-color: rgba(72, 202, 228, 0.801);
}
.card {
	width: calc(100% / 4);
	padding: 3rem 2rem;
	text-align: center;
	float: left;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.card:hover {
	transform: scale(0.9);
}
.card-icon {
	height: 5rem;
}
.cardheading {
	font-size: 2.2rem;
	margin-top: 1.5rem;
	letter-spacing: 2px;
	color: var(--primary-dark-1);
}
.cardheading-hr {
	width: 25%;
	border: 1px solid var(--primary-dark-1);
	margin: auto;
	margin-top: 1rem;
}
.cardtext {
	font-size: 1.8rem;
	letter-spacing: 1px;
	margin-top: 2rem;
}
.card:nth-child(1) {
	background-color: var(--primary-light-1);
}
.card:nth-child(2) {
	background-color: var(--primary-light-4);
}
.card:nth-child(3) {
	background-color: var(--primary-light-2);
}
.card:nth-child(4) {
	background-color: var(--primary-light-3);
}
/* End Section-cards */
/* Start Section-Aboutus */
.section-aboutus {
	padding: 10rem 0rem;
}
.aboutus-image {
	width: 40%;
	float: left;
	padding: 3rem;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.aboutus-img {
	width: 100%;
	border-radius: 4px;
	transition: all 0.5s;
}
.aboutus-image > div {
	overflow: hidden;
}
.aboutus-image > div:hover img {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.aboutus-text {
	width: 60%;
	float: left;
	padding: 3rem;
}
.aboutus-heading {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--primary-dark-1);
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.aboutus-para {
	font-size: 1.7rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: justify;
	line-height: 3rem;
}
.aboutus-para:first-of-type {
	margin-bottom: 2rem;
}
.aboutus-icon-card {
	width: calc(100% / 5);
	float: left;
	text-align: center;
}
.aboutus-icon-card-line {
	border-left: 1px solid var(--primary-dark-1);
	border-right: 1px solid var(--primary-dark-1);
}
.aboutus-icon-img {
	height: 8rem;
}
.icon-heading {
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	margin-top: 1rem;
}
/* End Section-Aboutus */
/* Start Section Services */
.section-services {
	padding: 10rem 0rem;
	background-color: var(--primary-light-2);
}
.services-cards-row:first-of-type {
	margin-bottom: 21rem;
}
.services-heading {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--primary-dark-1);
	font-weight: 700;
	margin-bottom: 1.5rem;
	text-align: center;
}
.section-heading-hr {
	width: 10%;
	border: 1px solid var(--primary-dark-1);
	margin: auto;
	margin-bottom: 3rem;
}
.service-card {
	width: 50%;
	float: left;
	position: relative;
}
.service-card-image {
	width: 30%;
	float: left;
}
.service-card-img {
	width: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.service-card-text {
	width: 70%;
	float: left;
	padding: 0rem 2rem;
}
.service-card-heading {
	font-size: 2.2rem;
	text-transform: uppercase;
	color: var(--primary-dark-1);
	letter-spacing: 1px;
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.service-card-subtext {
	font-size: 1.5rem;
	color: var(--primary-dark-3);
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 1rem;
}
.service-card-para {
	font-size: 1.6rem;
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 2rem;
	text-align: justify;
}
.service-card-btn:link,
.service-card-btn:visited {
	display: inline-block;
	position: absolute;
	bottom: 0%;
	right: 0%;
	transform: translate(-50%, 75%);
	-webkit-transform: translate(-50%, 75%);
	-moz-transform: translate(-50%, 75%);
	-ms-transform: translate(-50%, 75%);
	-o-transform: translate(-50%, 75%);
	font-size: 1.5rem;
	padding: 1rem 1rem;
	background-color: transparent;
	color: var(--primary-dark-1);
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid var(--primary-dark-2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.service-card-btn:hover,
.service-card-btn:active {
	background-color: var(--primary-dark-1);
	color: var(--primary-light-3);
	border: 1px solid var(--primary-light-4);
}
/* End Section Services */
/* Start Section Quote */
.section-quote {
	padding: 10rem 0rem;
	background-image: linear-gradient(
			to right,
			rgb(0, 118, 182, 0.8),
			rgb(0, 149, 199, 0.6)
		),
		url(../images/20-countlesshours.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.quote-heading {
	text-align: center;
	font-size: 5rem;
	font-weight: 900;
	color: var(--primary-dark-1);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.quote-heading:first-of-type {
	margin-bottom: 2rem;
}
.quote-link {
	text-align: center;
	margin-top: 3rem;
}
/* End Section Quote */
/* Start Number Section */
.section-numbers {
	padding: 10rem 0rem;
}
.number-card {
	width: 25%;
	float: left;
	text-align: center;
}
.number-text {
	font-size: 12rem;
	font-weight: 400;
	color: var(--primary-dark-1);
	margin-bottom: 1rem;
}
.number-text span {
	font-size: 6rem;
	color: var(--primary-dark-3);
}
.number-subtext {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--primary-dark-3);
}
.number-link {
	text-align: center;
	margin-top: 3rem;
}
/* End Number Section */
/* Start Meet Our Team Section*/
.section-team {
	padding: 10rem 0;
	background-color: var(--primary-light-2);
}
.team-heading {
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--primary-dark-1);
	font-weight: 700;
	margin-bottom: 1.5rem;
	text-align: center;
}
.team-card {
	width: calc((100% - 9rem) / 4);
	float: left;
	text-align: center;
}
.team-card:not(:first-of-type) {
	margin-left: 3rem;
}
.team-card-img {
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.team-name {
	font-size: 1.8rem;
	letter-spacing: 1px;
	font-weight: 400;
	margin-top: 1rem;
	color: var(--primary-dark-1);
}
.team-title {
	font-size: 1.5rem;
	color: var(--primary-dark-2);
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: 0.5rem;
}
.team-card-image {
	position: relative;
	overflow: hidden;
}
.team-card-image-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	background-color: rgb(255, 255, 255, 0.6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.team-card-image:hover .team-card-image-inner {
	top: 0;
	left: 0;
}
.team-icons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.team-icons a {
	text-decoration: none;
	display: block;
}
.team-icons a {
	margin-top: 6rem;
}
.team-icons .nav-social-icon {
	color: var(--primary-dark-1);
	font-size: 3.5rem;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.team-icons .nav-social-icon:hover {
	border-bottom: 1px solid var(--primary-dark-2);
	background-color: transparent;
}
/* End Meet Our Team Section*/
/* Start Review Section */
.section-review {
	padding: 10rem 0rem;
}
.review-div {
	text-align: center;
	padding: 3rem;
	background-color: var(--primary-light-2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 2px 2px 30px rgb(2, 62, 138, 0.2);
}
.review-text {
	font-size: 1.8rem;
	color: var(--primary-dark-1);
	letter-spacing: 1px;
	line-height: 3rem;
	margin-bottom: 2rem;
}
.stars-para {
	font-size: 3rem;
	color: goldenrod;
}
/* End Review Section */
/* Start Contact Us Section */
.section-contactus {
	padding: 4rem 0rem;
	background-image: linear-gradient(
			105deg,
			transparent 40%,
			rgb(2, 61, 138, 0.9) 40%,
			rgb(0, 118, 182, 0.8)
		),
		url(../images/25-contactus.jpg);
	background-position: center;
	background-size: cover;
}
.form-div {
	width: 60%;
	float: right;
	padding-left: 5rem;
}
.form-heading {
	font-size: 2.7rem;
	text-transform: uppercase;
	color: var(--primary-light-1);
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 4rem;
}
.input-div {
	position: relative;
	margin-bottom: 5rem;
}
.text-input {
	display: block;
	width: 100%;
	background-color: transparent;
	padding: 1rem;
	font-size: 1.8rem;
	letter-spacing: 1px;
	color: var(--primary-light-1);
	border: 0;
	border-bottom: 1px solid var(--primary-light-1);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.text-input::placeholder {
	color: rgb(72, 202, 228, 0.4);
}
.text-input:focus {
	outline: none;
	border-bottom: 1px solid var(--primary-dark-3);
}
.label-input {
	display: block;
	color: var(--primary-dark-5);
	font-size: 1.8rem;
	letter-spacing: 1px;
	font-weight: 500;
	position: absolute;
	top: 8px;
	left: 10px;
	opacity: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}
.text-input:not(:placeholder-shown) ~ .label-input {
	top: -20px;
	left: 0px;
	opacity: 1;
}
.btn-submit {
	background-color: var(--primary-dark-5);
	padding: 1rem 4rem;
	border: 0;
	font-size: 1.8rem;
	letter-spacing: 1px;
	color: var(--primary-dark-1);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.btn-submit:hover {
	color: var(--primary-dark-5);
	background-color: var(--primary-dark-1);
}
/* End Contact Us Section */
/* END MAIN */
/* Start Footer Section */
footer {
	margin-top: 10rem;
	padding: 4rem 0rem;
	background-color: var(--primary-dark-1);
}
.footer-logo {
	text-align: center;
	border-bottom: 1px solid rgba(72, 202, 228, 0.4);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}
.footer-logo-img {
	height: 6rem;
}
.footer-text-div {
	float: left;
	width: 35%;
	padding: 2rem;
}
.footer-heading {
	color: var(--primary-light-2);
	font-size: 2.2rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.footer-text {
	color: var(--primary-dark-5);
	font-size: 1.7rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: justify;
	margin-top: 2rem;
}
.footer-text-middle {
	width: 30%;
	float: left;
	padding: 2rem;
	border-left: 1px solid rgba(72, 202, 228, 0.4);
	border-right: 1px solid rgba(72, 202, 228, 0.4);
}
.footer-contact-num-heading:last-of-type {
	margin-top: 2rem;
}
.footer-contact-num-heading {
	color: var(--primary-dark-5);
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 2rem;
}
.footer-contact-num-text {
	color: var(--primary-dark-5);
	font-size: 1.7rem;
	font-weight: 300;
	letter-spacing: 1px;
	display: inline-block;
}
.footer-icon {
	height: 2.7rem;
	margin-right: 1rem;
}
.text-input-nl {
	border: 1px solid var(--primary-light-1);
	border-radius: 10rem;
	-webkit-border-radius: 10rem;
	-moz-border-radius: 10rem;
	-ms-border-radius: 10rem;
	-o-border-radius: 10rem;
	margin: 2rem 0rem;
}
.btn-submit-nl {
	border: 1px solid var(--primary-light-1);
}
.copyright {
	color: var(--primary-dark-5);
	text-align: center;
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: 100;
}
/* End Footer Section */